#gitignore:

# סביבה וירטואלית
.venv/
venv/
Scripts/
Lib/

# קבצי פייתון זמניים
__pycache__/
*.py[cod]

# תוצרי מערכת
.DS_Store
Thumbs.db
.vscode/
.idea/

# דאטה דינמי ותוצרים (לא מגבים בגיט)
2-data/processed/
1-raw_OSM_exports/
2-data/raw/
*.pbf

# קבצי פרויקט QGIS
*.qgs
*.qgz
*.qgs~


# אם אתה רוצה לוודא שתיקיית processed תמיד קיימת בגיט (אפילו ריקה):
!data/processed/.gitkeep

# אם יש קבצים ספציפיים שכן תרצה לגבות מהם, נוסיף להם "!" בהתחלה